#blog-container {
  margin-top: 30px;
  margin-bottom: 100px;
  h1 {
    color: green;
  }
  h5 {
    width: 75%;
  }
  img {
    width: 80%;
    height: 30vw;
  }
  #content {
    margin-top: 30px;
    width: 80%;
  }
}

#blog-container-2 {
  margin-top: 30px;
  margin-bottom: 100px;
  .jumbotron {
    background-size: cover;
    min-height: 30vw;
    height: fit-content;
    width: 80%;
    color: white;
  }
  #content {
    margin-top: 30px;
    width: 80%;
  }
}
