<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">CMS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
    aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item index">
        <a class="nav-link" href="./">Home</a>
      </li>
      <li class="nav-item mine">
        <a class="nav-link" href="./mine">My Articles</a>
      </li>
      <li class="nav-item drafts">
        <a class="nav-link" href="./drafts">Drafts</a>
      </li>
      <li class="nav-item new">
        <a class="nav-link" href="./new">New</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users/logout">Log Out/ Log in</a>
      </li>
    </ul>
  </div>
</nav>